html, body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de 100% de la hauteur de la fenêtre */
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.min-vh-100 {
    min-height: 100vh;
}

.flex-grow-1 {
    flex-grow: 1;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.h3-vocabulary:first-child {
    margin: 100px 0 0 0;
}

.navigation-header {
    margin: 0 0 0 200px;
}

.custom-form-control:focus {
    border-color: #b4b4b4 !important;
    box-shadow: 0 0 0 .25rem rgba(81, 81, 81, 0.25) !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border-radius:first-of-type {
    border-bottom-left-radius: 8px !important;
}

.no-border-radius:last-of-type {
    border-bottom-right-radius: 8px !important;
}